<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <title>CV</title>
</head>
<body>
  <h1>CV</h1>
  <h2>Personal Information</h2>
  <ul>
    <li>Name: Davy SEBBAH</li>
    <li>Address: 1234 Main St, Anytown Israël 12345</li>
    <li>Phone: 555-555-5555</li>
    <li>Email: davysebbah@email.com</li>
  </ul>
  <h2>Education</h2>
  <ul>
    <li>
      <h3>Bachelor of Science in Computer Science</h3>
      <p>University of XYZ, Graduated May 2020</p>
    </li>
  </ul>
  <h2>Experience</h2>
  <ul>
    <li>
      <h3>Software Engineer</h3>
      <p>ABC Company, June 2022 - Present</p>
      <ul>
        <li>Develop and maintain company's software products</li>
        <li>Collaborate with cross-functional teams to deliver projects on time and within budget</li>
      </ul>
    </li>
  </ul>
  <h2>Skills</h2>
  <ul>
    <li>JavaScript</li>
    <li>Python</li>
    <li>HTML/CSS</li>
    <li>SQL</li>
  </ul>
</body>
</html>
